.bem_vindo {
    background-color: var(--cor1);
}

.bem_vindo .row {
    padding: 60px 0;
    margin: auto;
    text-align: center;
}

.bem_vindo .row h2 {
    color: var(--branco-titulo);
}

.bem_vindo .row p {
    color: var(--branco-paragrafo);
}

.bem_vindo .row .btn-orcamento {
    background-color: white;
    width: 20%;
    margin: 0 auto;
    color: var(--cinza-escuro);
    padding: 5px 30px;
    border-radius: 5px;
    text-decoration: none;
}

.bem_vindo .row .btn-orcamento:hover {
    color: var(--cor1-escuro);
}

@media (max-width:720px) {
    .bem_vindo .row .btn-orcamento {
        background-color: white;
        width: 60%;
    }

}