.header .links-mob {
    display: block;
}

.header {
    padding: 8px 0;
    position: fixed;
    top: 0;
    z-index: 13;
    background-color: #fff;
    box-shadow: 1px 0px 2px var(--cinza-claro);
}

.header .row {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header .row .col {
    height: 100%;
    padding: 0;
}
.header .row .links {
    display: flex;
    justify-content: center;
}
.header .row .links .col-8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .row .col a {
    text-decoration: none;
    font-size: 1.3em;
    margin: 5px 20px;
    color: var(--cinza-medio);
}

.header .row .col a:hover {
    color: var(--cinza-claro);
}

.header ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 33%;
    gap: 6%;
    justify-content: center;
}
.header ul a {
    text-decoration: none;
    font-size: 1.3em;
    margin: 5px 20px;
    color: var(--cinza-escuro);
}

.header .links-mob {
    display: none;
}

.header .col-hamburger {
    display: none;
}


@media (max-width: 1450px) {
    .header .row .col a {
        text-decoration: none;
        font-size: 1.1em;
        margin: 5px 8px;
        color: var(--cinza-medio);
    }
}
@media (max-width: 720px) {
    .header .links {
        display: none !important;
    }
    .header .col-hamburger {
        display: block;
        text-align: end;
    }

    .header .col-hamburger img {
        width: 20%;
    }


    .header .aparecerHamburguer {
        display: flex;
    }

    .header .links-mob {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header .row .col a {
        text-decoration: none;
        font-size: 1.1em;
        margin: 5px 20px;
        color: var(--cinza-escuro);
    }

    .header .row .col ul{
        display: flex;
        list-style: none;
        padding: 0;
        margin-top: 10px;
        width: 100%;
        gap: 20%;
        justify-content: center;
    }
    .header .row .col ul li{
        font-size: 1.3em ;
    }
}