.mais-produtos .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.mais-produtos .row>* {
    text-align: center !important;
}

.mais-produtos .row .txt {
    margin: auto;
    margin-bottom: 20px;
}
.mais-produtos .row .carrousel .mais-produtos-slide img{
    width: 100%;
}

.mais-produtos .row .txt h2 {
    font-size: 3em;
    color: var(--cinza-escuro);
    margin-top: 200px;
    position: relative;
    margin-bottom: 20px;
}

.mais-produtos .row .txt h2::before {
    content: ' ';
    position: absolute;
    top: -100px;
    left: 33%;
    right: 0;
    width: 33%;
    height: 3px;
    border-radius: 30px;
    background-color: var(--cor1);
}

.mais-produtos .row p {
    font-size: 1.2em;
    text-align: center;
}

.mais-produtos .row .card {
    margin: 30px;
    height: 480px;
}
.mais-produtos .row .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mais-produtos a {
    color: var(--cor1-escuro);
    text-decoration: none;
    font-size: 1.3em;
}

@media (max-width: 1600px) {
    .mais-produtos .row .card {
        height: 400px;
    }
}
@media (max-width: 1400px) {
    .mais-produtos .row .card {
        height: 380px;
    }
}
@media (max-width: 1366px) {
    .mais-produtos .row .card {
        height: 450px;
    }
}
@media (max-width: 1200px) {
    .mais-produtos .row .card {
        height: 400px;
    }
}
@media (max-width: 1000px) {
    .mais-produtos .row .card {
        height: 360px;
    }
    .mais-produtos p {
        font-size: 1.1em;
        
    }
    .mais-produtos a {
        font-size: 1.1em;
    }
    
}

@media (max-width: 720px) {
    .mais-produtos .row .txt h2 {
        font-size: 3em;
        margin-top: 100px;
    }

    .mais-produtos .row .txt h2::before {
        top: -50px;
    }
    .mais-produtos .row .card {
        margin: 10px 0 40px 0;
    }
    .mais-produtos .row p {
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 5px;
    }

    .mais-produtos .row .card .card-body{
        padding: 10px 3px;
    }
    .mais-produtos .row .card .card-body a {
        font-size:1.3em;
    }
}