
.slide-home{
    margin-top: 150px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.slide-home .swiper-slide img{
    width: 100%;
    height: 100%;

}

.swiper-button-next,
.swiper-button-prev{
    color: var(--amarelo);
}
.swiper-pagination-bullet-active {
    background-color: var(--amarelo);
}
.slide-home .swiper-button-next,
.swiper-button-prev{
    color: var(--cinza-medio);
}
.slide-home .swiper-pagination-bullet-active {
    background-color: var(--cinza-medio);
}

